@import '../../scss/variables.scss';

@keyframes ldio-0kvwe18dkeb {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ldio-0kvwe18dkeb {
  width: 60px;
  height: 60px;
  position: relative;
  transform: translateZ(0) scale(1);
}

.ldio-0kvwe18dkeb div {
  position: absolute;
  top: 30px;
  left: 30px;

  width: 40px;
  height: 40px;
  border: 5px solid $color-main-accent;
  border-top-color: transparent;
  border-radius: 50%;

  animation: ldio-0kvwe18dkeb 1s linear infinite;
}
