@import '../../styles/variables.scss';

.wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $mobile) {
    margin-top: 16px;
  }
}

.container {
  width: 1248px;
  margin: 0 auto;

  @media screen and (max-width: $desktop-min) {
    width: auto;
    margin: 0 64px;
  }

  @media screen and (max-width: $tablet) {
    margin: 0 32px;
  }

  @media screen and (max-width: $mobile) {
    margin: 0 16px;
  }
}

.navBlock {
  margin-top: 32px;

  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .horizontLine {
    background-color: $color-gray-light;
    height: 1px;
  }
}

.order {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  max-height: calc(100vh - 133px);
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (max-width: $mobile) {
    max-height: calc(100vh - 166px - 48px);
  }

  @media screen and (max-width: $mobile-compact) {
    max-height: calc(100vh - 156px - 48px);
  }
}
