@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.checkBox {
  position: relative;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: $color-gray solid 1px;

  &Checked {
    border: $color-main-accent solid 1px;
  }
}

.label {
  color: $color-gray;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  &Checked {
    color: $color-black;
  }
}

.checkMark {
  position: absolute;
  stroke: $color-black;
  left: 1px;
  top: -1px;
}
