@import '../../../scss/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category {
  margin: 24px 0 32px;
  // margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.categoryItem {
  margin-top: 8px;
}

.container {
  max-height: calc(100vh - 216px);
  width: 100%;
  overflow: hidden;
}

.models {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;

  max-height: calc(100vh - 216px);
  margin-right: -22px;
  padding-right: 22px;

  @media screen and (max-width: $tablet) {
    display: block;
  }
}
