@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 32px 0;

  @media screen and (max-width: $mobile) {
    padding: 16px 0;
  }
}

.itemWrapper {
  max-width: max-content;
  margin-bottom: 32px;

  @media screen and (max-width: $mobile) {
    margin-bottom: 24px;
  }

  .itemText {
    @include font-text();
    margin: 0 0 8px;
  }
}

.colorList {
  display: flex;
  flex-wrap: wrap;

  .colorItem {
    margin-top: 8px;
  }
}

.dateWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rateList {
  display: flex;
  flex-direction: column;

  .rateItem {
    margin-top: 8px;
  }
}

.optionsList {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  @include font-text($color-gray);
}
