@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 16px 0;
}

.itemName {
  min-width: max-content;
  @include font-text;
}

.dots {
  flex-grow: 1;
  border-bottom: $color-gray dotted 2px;
  margin: 0 12px 4px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.itemValue {
  @include font-text($color-gray);
}
