@import '../../scss/variables.scss';

.button {
  background: none;
  text-decoration: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
}

.buttonActive {
  color: $color-main-accent;
}

.buttonDisabled {
  color: $color-gray;
  cursor: auto;
}
