@import '../../styles/variables.scss';

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

.sideBar {
  flex: 0 0 64px;

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.content {
  flex: 1 1 688px;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: $desktop-min) {
    padding: 32px;
  }

  @media screen and (max-width: $mobile) {
    padding: 16px;
  }
}

.carousel {
  flex: 1 1.827 688px;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

@mixin title {
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  margin: 0;

  @media screen and (max-width: $mobile) {
    font-size: 32px;
    line-height: 100%;
    margin-top: 6px;
  }
}

.titleBlack {
  @include title();
  color: $color-black;
}

.titleGreen {
  @include title();
  color: $color-main-accent;
}

.subtitle {
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: $color-gray;
  margin: 32px 0 0;

  @media screen and (max-width: $mobile) {
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 21px;
  }
}

.buttonOrder {
  margin: 60px 0;
  width: 250px;

  @media screen and (max-width: $mobile) {
    margin: 32px -16px;
    width: 100vw;
    border-radius: 0 !important;
  }
}
