@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemWrapper {
  max-width: max-content;
}

.text {
  @include font-text();
  margin: 32px 0 0;
}

.colorList {
  margin: 8px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.colorItem {
  margin-top: 8px;
}

.dateWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 8px;
}

.rateList {
  margin: 8px 0 0;
  display: flex;
  flex-direction: column;
}

.rateItem {
  margin-top: 8px;
}

.optionsList {
  margin: 8px 0 0;
  display: flex;
  flex-direction: column;
}

.errorMessage {
  @include font-text($color-gray);
}
