@import '../../scss/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: $color-main-accent;
  }

  &__location {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-gray;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -22px;
      width: 15px;
      height: 18px;
      background: url(../../assets/svg/location.svg) no-repeat;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 8px;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-end;
  }
}
