@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.wrapper {
  border-left: $color-gray-light 1px solid;
  margin-left: 32px;
  padding-top: 32px;
  padding-left: 32px;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  z-index: 10;

  position: relative;

  @media screen and (max-width: $tablet) {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;

    background-color: $color-white;
    padding: 32px;
  }
}

.notOpen {
  visibility: hidden;
}
.closeBtn {
  position: absolute;
  top: 28px;
  left: 28px;
  stroke: $color-black;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  text-align: right;
  width: 100%;
}

.itemList {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.finalPrice {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  margin-bottom: 32px;
}

.button {
  visibility: visible;
  z-index: 100;

  @media screen and (max-width: $tablet) {
    position: fixed;
    bottom: 16px;
    right: calc(50% - 144px);
    box-shadow: 0 0 24px 32px $color-white;
  }

  @media screen and (max-width: $mobile) {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
  }
}
