@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.wrapper {
  border-left: $color-gray-light 1px solid;
  margin-left: 32px;
  padding-top: 32px;
  padding-left: 32px;
  width: 320px;

  display: flex;
  flex-direction: column;
  z-index: 10;

  position: relative;

  @media screen and (max-width: $tablet) {
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;

    transition: right 0.3s;

    background-color: $color-white;
    padding: 32px;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.notOpen {
  visibility: hidden;
  right: -320px;

  @media screen and (max-width: $mobile) {
    right: -100%;
  }
}

.closeBtn {
  position: absolute;
  top: 28px;
  left: 28px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  text-align: right;
  width: 100%;
}

.itemList {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.price {
  margin-bottom: 32px;

  .priceText {
    color: $color-black;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .priceValue {
    color: $color-black;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
}
