@import '../../scss/variables.scss';

.close-btn {
  position: relative;
  margin: 32px 16px;
  width: 32px;
  height: 32px;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    top: 14.5px;
    left: 4px;

    width: 23px;
    height: 3px;
    background-color: $color-white;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 14.5px;
    left: 4px;

    width: 23px;
    height: 3px;
    background-color: $color-white;
    transform: rotate(-45deg);
  }

  @media screen and (max-width: $desktop-min) {
    margin: 28px 16px;
  }

  @media screen and (max-width: $mobile) {
    margin: 20px 20px;
  }
}
