@import '../../scss/variables.scss';

.carousel {
  height: 100%;
  padding: 96px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);

  @media screen and (max-width: $desktop-min) {
    padding: 64px;
  }
}
