@import '../../scss/variables.scss';

.button {
  border: none;
  border-radius: 8px;

  font-size: 18px;
  line-height: 21px;
  color: $color-white;

  background: linear-gradient(90deg, $color-main-accent 2.61%, #039f67 112.6%);

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  // &:focus {
  //   filter: brightness(90%);
  // }
}
