@import '../../scss/variables.scss';

.sideBar {
  flex: 0 0 64px;
  height: 100%;
  width: 64px;
  background-color: $background-color-dark;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 16px;

  @media screen and (max-width: $mobile) {
    display: none;
  }
}
