@import '../../scss/variables.scss';

.button {
  background: none;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.checkBox {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: $color-gray solid 1px;
  margin-right: 8px;
}

.checkBoxActive {
  border: $color-main-accent solid 3px;
}

.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $color-gray;
}

.textActive {
  color: $color-black;
}
