@import '../../styles/variables.scss';

.nextStepBtn {
  visibility: visible;
  z-index: 100;
  width: 288px;

  @media screen and (max-width: $tablet) {
    position: fixed;

    bottom: 16px;
    right: calc(50% - 144px);
    box-shadow: 0 0 32px 16px $color-white;
  }

  @media screen and (max-width: $mobile) {
    bottom: 0;
    right: 0;

    width: 100%;
    border-radius: 0;
  }
}
