@import '../../styles/variables.scss';

.closeBtn {
  background: none;
  outline: none;
  border: none;

  cursor: pointer;
  stroke: $color-white;
}

.large {
  width: 32px;
  height: 32px;
}

.small {
  width: 14px;
  height: 14px;
}

.dark {
  stroke: $color-black;
}
