@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.orderBtn {
  border-left: $color-gray-light solid 1px;
  padding: 8px 16px;
}

.orderText {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: $color-black;

  &:hover {
    color: $color-main-accent;
  }
}

.icon {
  height: 40px;
  max-width: 50px;

  @media screen and (max-width: $mobile-compact) {
    height: 30px;
    max-width: 40px;
  }
}

.orderIcon {
  &:hover {
    fill: $color-main-accent;
  }
}
