@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.icon {
  height: 40px;
  max-width: 50px;

  @media screen and (max-width: $mobile-compact) {
    height: 30px;
    max-width: 40px;
  }
}
