@import './scss/fonts.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
