$color-main-accent: #0ec261;
$color-black: #121212;
$color-gray: #999999;
$color-gray-light: #eeeeee;
$color-white: #ffffff;

$background-color-admin: #f5f6f8;
$background-color-dark: #151b1f;
$background-color-menu: #111518;
$background-color-menu--transparent: rgba(21, 27, 31, 0.81);

$mobile: 767px;
$tablet: 1023px;
$desktop-min: 1439px;
