@import '../../scss/variables.scss';

.hamburger-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 0;
  margin: 32px 16px;

  div {
    margin: 4px;
    width: 24px;
    height: 3px;
    background-color: $color-white;

    @media screen and (max-width: $mobile) {
      background-color: $color-black;
    }
  }

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: $mobile) {
    margin: 16px 16px;
  }
}
